<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img alt="Imagen de ejemplo" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-content [formGroup]="loginForm">
      <ion-item>
        <ion-input 
          formControlName="email" 
          type="email" 
          label="Usuario:" 
          labelPlacement="floating" 
          placeholder="Ej: Panshoots">
        </ion-input>
      </ion-item>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        El correo es requerido!
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched">
        El correo es inválido!
      </ion-text>

      <ion-item>
        <ion-input 
          formControlName="pass" 
          type="password" 
          labelPlacement="floating" 
          label="Contraseña:" 
          placeholder="Ej: 123456">
        </ion-input>
      </ion-item>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('pass')?.hasError('required') && loginForm.get('pass')?.touched">
        La contraseña es requerida!
      </ion-text>
      <ion-text position="stacked" color="danger" *ngIf="loginForm.get('pass')?.hasError('minlength') && loginForm.get('pass')?.touched">
        La contraseña tiene como mínimo 6 caracteres!
      </ion-text>

      <ion-button expand="full" (click)="registrarUsuario()" [disabled]="loginForm.invalid">Registrarse</ion-button>
      <ion-button expand="full" (click)="generarUsuariosAleatorios()">Generar 5 Usuarios</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
