<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button routerLink="/pasajero">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detalles del Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="viaje; else loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del Viaje</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>Dirección:</h2>
        <p>{{ viaje.direccion }}</p>
        <h2>Precio:</h2>
        <p>{{ viaje.precio }} $</p>
        <h2>Plazas disponibles:</h2>
        <p>{{ viaje.pasajeros }}</p>
        
        <ion-button expand="full" color="success" routerLink="/camaraqr">Escanear Código QR</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ng-template #loading>
    <ion-label>Cargando detalles del viaje...</ion-label>
  </ng-template>
</ion-content>
