<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="viajes.length > 0; else noViajes">
    <ion-item *ngFor="let aux of viajes" class="viaje-item">
      <ion-label>
        <h3>Dirección: {{ aux.direccion }}</h3>
        <p>Precio: {{ aux.precio }} $</p>
        <p>Plazas disponibles: {{ aux.pasajeros }}</p>
      </ion-label>
      <ion-button slot="end" (click)="verDetalleViaje(aux)" color="success">Ver</ion-button>
    </ion-item>
  </ion-list>

  <ng-template #noViajes>
    <ion-item>
      <ion-label>No hay viajes disponibles en este momento.</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
